<div class="jumbotron">
  <h1 class="display-4">Lorem Ipsum</h1>
  <p class="lead">Suspendisse enim libero, vestibulum varius ultricies vitae, pulvinar sed erat. Donec condimentum malesuada felis ac fermentum. Vestibulum scelerisque metus in neque tempor dignissim a eget lectus.</p>
  <hr class="my-4">
  <p>Integer cursus luctus enim. Nulla egestas turpis in dui semper hendrerit. Etiam dictum purus at cursus egestas. Nulla et ligula lacinia, efficitur est in, condimentum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam scelerisque consequat consectetur.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/', 'about']">About</a>
  </p>
</div>
